.card{

display: flex;
align-items: flex-start;
justify-content: center;
 
  overflow: hidden;
  margin-right: 60%;

  color:rgb(207, 213, 217);
  font-weight: 100;
  
  font-size: 120%;
 border-radius: 5%;
 box-shadow: 0 0 10px rgb(12, 11, 11);
 position: relative;
 top: 10px;

 left: 25%;
 cursor: pointer;
 
 
}
/*  this is the image loader so i wanna add sekletal loader */


.card img{
    margin: 20px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.user{
   
    margin-top: -20px;
   
}

.skeleton{
    animation: skeleton-loader 2s linear infinite alternate; 
 }
 @keyframes skeleton-loader {
     
     0%{
        /* margin: 20px;
        height: 70px;
        width: 0%;*/
        border-radius: 50%; 
         background-color: gray;
     }
     100%{
        /* margin: 20px;
        height: 70%;
        width: 100%;
        border-radius: 50%;
        */
        border-radius: 50%; 
         background-color: white;
     }
 }

 .skeleton-profile{
    
    animation: skeleton-loading 2s linear infinite alternate; 
 }
 @keyframes skeleton-loading {
      0%{
        margin: 20px;
        height: 100px;
        width: 100px;
        border-radius: 50%;
       
         background-color: rgb(129, 125, 125);
     }
     100%{
        margin: 20px;
        height: 100px;
        width: 100px;
        border-radius: 50%;
 
         background-color: rgb(255, 255, 255);
     }
 }