footer{
    background-color: rgb(31, 31, 31);
    display: grid;

    align-items: center;
    justify-content: space-around;
     position: relative;
    margin-top: 10%;
    top: 0;
     

}
footer div{
    color: rgb(188, 193, 196);
  
     font-size: 15px;
}